.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todoApp {
  margin-left: 500px;
  margin-top: 30px;
  height: 500px;
  width: 220px;

  
}
.todoApp input {
  height: 30px;
  border: #61dafb 2px solid;
}
.todoApp button {
  height: 38.5px;
  background: #61dafb;
  border: white 2px solid;
}

.todoApp h3 {
  color: #61dafb;
}

.listTask {
  width: 206px;
  height: 25px ;
  border: solid 2px #61dafb;
  margin-top: 5px;
  border-radius: 10px;
  text-align: left;
  padding: 5px;
}
/* @import url(./Exam/TodoApp1.css); */
@import url(./Exam/Menu.css);
.showbutton button {
  position: fixed;
  border: 4px solid blueviolet;
  background-color: aqua;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  z-index: 1;
  cursor: pointer;
  
}
.showbutton {
  margin-left: 0px;
  width: 30px;
}