.card {
    width: 200px;
    height: 140px;
    display: flex;
    background-color:black;
    border: solid 3px red;
    padding: 10px;
    position: relative;
    text-align: center;
    align-items: right;
    justify-content: right;
}

.card p {
    position: absolute;
}

.square1 {
    width: 150px;
    background-color: aqua;
    display: inline;
}

.square2 {
    width: 50px;
    background-color:blue;
}
